[*.cs]

# Default severity for analyzer diagnostics with category 'Globalization'
# We are not required to localize this program
dotnet_analyzer_diagnostic.category-Globalization.severity = none

[*.{cs,vb}]
# We are not required to localize this program
dotnet_diagnostic.CA1303.severity=silent
# We are not required to localize this program
dotnet_diagnostic.CA1307.severity=silent
# We are not required to localize this program
dotnet_diagnostic.CA1308.severity=silent